body{
    background-image: url("../Images/Wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position-y: -310px;
    background-position: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body::before {
    color:rgb(125, 74, 11) ;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4400px;
    background-color: rgba(0, 0, 0, 0.8); /* RGB color with alpha (0.5 for 50% opacity) */
  }
  #welcome{
    margin-top: 100px;
    margin-bottom: 50px;
  }

  #nav{
    background-color: transparent;
  }
  #getstarted{
    width:180px;
    height: 40px;
    margin-bottom: 60px;
    background-color: rgb(107, 74, 33);
    border-radius: 5px;
  }
  #getstarted:hover{
    background-color: rgb(57, 33, 5);
    color: rgb(107, 74, 33);
    
  }
  #title{
    color: rgb(153, 89, 12);
  }
  .navbar-nav{
    margin-left: 500px;
    padding-left: 30px;
  }
  .nav-item{
    margin-left: 50px;
    font-size: 20px;
    color: rgb(120, 72, 14);
  }
  #dropdownMenu2{
    color: rgb(157, 92, 13);
    background-color: rgb(43, 27, 7);
    width: 150px;
    height: 40px;
    text-align: center;
  }
  #dropdown-item{
    color:rgb(112, 66, 10);
    background-color: rgb(36, 21, 4);
  }
  #dropdown-item:hover{
    background-color: rgb(211, 128, 33);
    color: rgb(24, 24, 23);
  }
  #navbar{
    border-bottom: 4px solid rgb(107, 74, 33);
  }
  .container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
    margin-top:50px;
    color: rgb(146, 93, 23);
    opacity: 0.9;
  
    
    
}
.Introduction, .Pic{
    width:600px;
    height: 620px;
    box-shadow: 0px 0px 5px 10px rgb(34, 22, 7);
}
.Pic img{
    width: 300px; 
      height: 500px;
      margin-left: 100px;
}
.Introduction h1, .Pic h1{
    text-align: center;
    margin-top: -5px;
    
}
.Introduction p, .Pic p{
    margin: 20px;
    margin-bottom: 0;
}
.d-grid .btn{
    background-color: rgb(157, 98, 26);
    color: black;
    border-color: rgb(85, 51, 9);
}
#button:hover{
    background-color: rgb(26, 16, 4);
    color: rgb(186, 112, 21);
    border-color: rgb(27, 20, 12);
}
#button::after{
    background-color: rgb(52, 32, 7);
    color: rgb(95, 57, 10);
    border-color: rgb(27, 20, 12);
}
#card{
    border: 10px solid rgb(66, 41, 10);
}
.form-label{
    color: rgb(230, 144, 24);
    background-color: black;
    opacity: 0.8;
}
#form{
    color: rgb(230, 144, 24);
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
    border: 3px solid rgb(66, 41, 10);
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(50, 29, 3);
}
.container3{
  display:inline-block;
  /* margin-left: 600px;
  margin-top: 100px; */
  bottom:0;
  position: relative;
  float: right;
  margin-top: -550px;
  margin-right: 250px;
  
}
.box1{
  color:aqua;
  width: 30px;
  font-size: 70px;
  margin: 30px;
  
}
.box1 #insta {
  color: rgb(177, 11, 66);
}
.box1 #email{
  color: rgb(237, 140, 84);
}
.box1 #twitter{
  color: rgb(117, 193, 237);
}
.container3 h2{
  color: rgb(77, 44, 5);
}
.footer{
  background-color: black;
  opacity: 0.9;
  color: rgb(146, 93, 23);
  display: flex;
  height: 300px;
  margin-top: 150px;
  width:1500px;
  bottom: 0;
  position: relative;
  padding-left: 100px;

}
.footer-content{
  width: 400px;
  margin: 50px;
}
.footer-bottom{
  background-color: black;
  color:gray;
  text-align: center;
  margin-left: 500px;
  margin-top: -10px;
  opacity: 0.8;
  width: 400px;
}
.footer1{
  display: flex;
}
#copyright{
  margin-top: -30px;
  opacity: 0.9;
margin-left: 500px;
color: rgb(146, 85, 10);
}
.socials{
  display: block;
}