body{
    background-image: url('/Images/Wallpaper.jpg');
    color: rgb(245, 250, 245);
    font-weight: 1000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -300px;
    
   
   
}
.Form{
    text-align: left; 
    display: inline-flexbox;
    grid-template-columns: auto;
    grid: 100px 100px;
    background-origin: padding-box;
    width: 400px; 
    height: 500px; 
    margin-left: 400px; 
    border-color: #e49815; 
    border-style: solid;
    background-color: rgb(0, 0, 0, 0, 0.6);
    padding: 20px;
    margin-top: 80px;
}
    
label{
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: -40px;

    

}

button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-color: #e49815;
    border-style: groove;
    background-color: #955f03;
    font-size: 15px;
    margin-left: 100px;
}
input{
    color: black;
    font-size: 12px;
    margin-bottom: -40px;
    size: 60px;
    margin-left: 10px;
}
.password{
    margin-left: 20px;
}
.Date{
    margin-left: 40px;
}
.country{
    margin-left: 35px;
}
.state{
    margin-left: 52px;
}
.city{
    margin-left: 56px;
}
.adress{
    margin-left: 37px;
}
.Number{
    margin-left: 28px;
}
.Email{
    margin-left: 45px;
}
.fname{
    margin-left: 20px;
}